/* Butoes edicao de Utilizador Logado */

input.btn-row {
	/*margin: -15px auto 0px;*/
	width: 95%;
	padding-left: 0;
	padding-right: 0;
	position: absolute;
}

input.btn-row-left {
	left: 0px;
}

input.btn-row-right {
	right: 0px;
}

#header.frontPage {
  /*background-image: url("../../images/arena_bw.jpg");*/
}

/* specific */

.text-center-align {
  text-align: center !important;
}

.give-some-top-space {
  margin-top: 10px !important;
}

.non-wrappable {
  white-space: nowrap;
}
/* Inputs */

  label {
    display: block;
    font-weight: 400;
    color: #483949;
    margin: 0 0 1em 0;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="date"],
  input[type="number"],
  select.default {
    -webkit-appearance: none;
    display: block;
    border: 0;
    background: #fafafa;
    width: 100%;
    border-radius: 0.5em;
    border: solid 1px #E5E5E5;
    padding: 1em;
    -moz-transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
  }
  
  input[type="checkbox"] {
    display:none;
  }
  
  input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url("./images/check_radio_sheet2.png") left top no-repeat;
    cursor:pointer;
  }
  
  input[type="checkbox"]:checked + label span {
    background:url("./images/check_radio_sheet2.png") -19px top no-repeat;
  }
    
  select.filter {
    -webkit-appearance: none;
    display: inline-block;
    border: 0;
    background: #fafafa;
    border-radius: 0.5em;
    border: solid 1px #E5E5E5;
    padding: 0.4em;
    width: 100%;
    text-align: middle;
    -moz-transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out; 
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="tel"]:focus,
  input[type="date"]:focus,
  input[type="number"]:focus,
  select:focus {
    background: #fff;
    border-color: #df7366;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="date"],
  input[type="number"],
  select {
    line-height: 1em;
  }

/* Table Classes */
div.column-header {
  white-space:nowrap;
}

table th>a div.column-header:hover {
  /*border-bottom: 1px solid #c7c7c7;*/
}

span i.leftSpace {
  display: inline-block;
  /*float: right;*/
  margin: auto;
  padding-left: 10px;
  color: orange;
}

/* Loading */

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

/* Equipas */

.soccer-formation {
    width: 100%;
    /*background-color: #008000;*/
    margin-top: -0px;
    /*border-bottom: 1px solid #BCBEAE;*/
    overflow: auto;
}

.soccer-formation .field {
    position: relative;
    width: 730px;
    height: 433px;
    background: url(images/field_soccer_730x433.gif) no-repeat #008000;
    margin: 0px auto;
  }

.soccer-formation .blackTeam, .soccer-formation .whiteTeam {
  width: 100px;
  max-height: 70px;
  text-align: center;
  position: absolute;
  /*float:top;*/
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
}

.soccer-formation .blackTeam {
  background: rgb(0, 0, 0); /* Fall-back for browsers that don't
                                    support rgba */
  background: rgba(0,0,0,.5);
  color: #fff;
}

.soccer-formation .whiteTeam {
  background: rgb(255, 255, 255); /* Fall-back for browsers that don't
                                    support rgba */
  background: rgba(255, 255, 255, .5);
  color: #000;
}

#small-size-indicator, #medium-size-indicator {
  display: none;
}

/* Sistema de Layout Responsivo */

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xl-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xl-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xl-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xl-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xl-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xl-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xl-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xl-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xl-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xl-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xl-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12 {
  position: relative;
  min-height: 1px;
  /*padding-right: 15px;
  padding-left: 15px;*/
  padding: 15px;
  float: left;
  display: block;
}

#statFilterRow {
  margin: 0;
}

/*.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}*/

@media (min-width: 1281px) and (max-width: 1920px) {

    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}

}

@media (min-width: 961px) and (max-width: 1280px) {

    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}

@media (min-width: 841px) and (max-width: 960px) {

    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

@media (min-width: 737px) and (max-width: 840px) {

    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}

    .soccer-formation .field {
      background: url(images/field_soccer_433x730.gif) no-repeat #008000;
      height: 730px;
      width: 433px;      
    }

    #medium-size-indicator {
      display: block;
    }    
}

@media (max-width: 736px) {

    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}

	input.btn-row {
		/*margin: -15px auto 0px;*/
		width: 100%;
/*		margin-left: -15px;
		margin-right: 30px;*/
		position: absolute;
	}

	input.btn-row-left{
		top: 0px;
    left: 0px;
	}

	input.btn-row-right {
		top: 50px;
    left: 0px;
	}

  table.default {
    font-size:  0.6em;
  }
  .soccer-formation .field {
      background: url(images/field_soccer_320x540.gif) no-repeat #008000;
      height: 540px;
      width: 320px;
    }
  #small-size-indicator {
    display: block;
  }
}


/* Clearfix from Bootstrap */
.clearfix:before,
.clearfix:after{
  display: table;
  content: " ";
}
.clearfix:after{
  clear: both;
}

/* Visible/Hiden properties from Bootstrap */

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (min-width: 1281px) and (max-width: 1680px) {
  .visible-xl {
    display: block !important;
  }
  table.visible-xl {
    display: table !important;
  }
  tr.visible-xl {
    display: table-row !important;
  }
  th.visible-xl,
  td.visible-xl {
    display: table-cell !important;
  }
  .visible-xl-block {
    display: block !important;
  }  
  .visible-xl-inline {
    display: inline !important;
  }  
  .visible-xl-inline-block {
    display: inline-block !important;
  }  
  .hidden-xl {
    display: none !important;
  }
}

@media (min-width: 961px) and (max-width: 1280px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
  .visible-lg-block {
    display: block !important;
  }  
  .visible-lg-inline {
    display: inline !important;
  }  
  .visible-lg-inline-block {
    display: inline-block !important;
  }  
  .hidden-lg {
    display: none !important;
  }
}

@media (min-width: 841px) and (max-width: 960px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
  .visible-md-block {
    display: block !important;
  }  
  .visible-md-inline {
    display: inline !important;
  }  
  .visible-md-inline-block {
    display: inline-block !important;
  }  
  .hidden-md {
    display: none !important;
  }  
}

@media (min-width: 737px) and (max-width: 840px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
  .visible-sm-block {
    display: block !important;
  }  
  .visible-sm-inline {
    display: inline !important;
  }  
  .visible-sm-inline-block {
    display: inline-block !important;
  }  
  .hidden-sm {
    display: none !important;
  }  
}

@media (max-width: 736px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
  .visible-xs-block {
    display: block !important;
  }  
  .visible-xs-inline {
    display: inline !important;
  }  
  .visible-xs-inline-block {
    display: inline-block !important;
  }  
  .hidden-xs {
    display: none !important;
  }  
}

div.align-left {
    text-align: left;
}

div.align-right {
    text-align: right;
}