<!--<form action="" method="">-->
	<label for="username">Utilizador:</label>
	<input id="usernameField" type="text" required name="username" placeholder="Utilizador">
	
	<br>
	<label for="userPassword">Palavra Passe:</label>
	<input type="password" id="userPassword" required name="userPassword" placeholder="Palavra-Passe">
	<br>
	
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<input id="btnLogin" class="btn-row btn-row-left" type="submit" name="btnAction" value="Efetuar Login"">	
	</div>
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<input id="btnRecover" class="btn-row btn-row-right" type="submit" name="btnRecover" value="Recuperar Palavra-Passe"">	
	</div>
	<br>

	<div class='clearfix visible-xs-block'></div>

<!--</form>-->