	<label for="username">Utilizador:</label>
	<input id="usernameField" type="text" id="username" required name="username" placeholder="Utilizador">
	
	<br>
	<label for="recoverEmail">Email de Recuperação:</label>
	<input type="email" id="recoverEmail" required name="recoverEmail" placeholder="Email de Recuperação">
	<br>
	
	<input id="btnRecoverEmail" type="submit" name="btnRecoverEmail" value="Efetuar Recuperação"">	
	<br>