	<label for="username">Utilizador:</label>
	<input id="usernameField" type="text" required readonly name="username" placeholder="Utilizador">
	<br>

	<label for="userPassword">Palavra Passe:</label>
	<input type="password" id="userPassword" required name="userPassword" placeholder="Nova Palavra-Passe">
	<br>

	<label for="userRepeatPassword">Repetir Palavra Passe:</label>
	<input type="password" id="userRepeatPassword" required name="userRepeatPassword" placeholder="Repetir Nova Palavra-Passe">
	<br>	

	<input id="btnChangePassword" type="submit" name="btnChangePassword" value="Alterar Password"">	
	<br>	