							</div>
							<!-- Lado direito-->
							<div class="4u 12u(mobile)" id="sidebar">
								<hr class="first" />
								<section>
									<header>
										<h3>Aparência do Manager</h3>
									</header>
									<p>