<tr>
<td>{{Posicao}}</td>
<td>{{Magico}}</td>
<td>{{Batalhas}}</td>
<td>{{Golos_Rat}} <span class="hidden-xs hidden-sm hidden-md">({{Golos}})</span></td>
<td>{{Assistencias_Rat}} <span class="hidden-xs hidden-sm hidden-md">({{Assistencias}})</span></td>
<td>{{Vitorias_Rat}} <span class="hidden-xs hidden-sm hidden-md">({{Vitorias}})</span></td>
<td class="hidden-xs hidden-sm">{{Traicoes_Rat}} <span class="hidden-xs hidden-sm hidden-md">({{Traicoes}})</span></td>
<td class="hidden-xs hidden-sm hidden-md">{{Assiduidade}}</td>
</tr>