<tr>
<td>{{Posicao}}</td>
<td>{{Position_arrow}}</td>
<td>{{Magico}}</td>
<td class="hidden-xs hidden-sm">{{Posicao_Ant}}</td>
<td>{{Batalhas}}</td>
<td>{{Golos}} <span class="hidden-xs hidden-sm hidden-md">({{Golos_Rat}})</span></td>
<td>{{Assistencias}} <span class="hidden-xs hidden-sm hidden-md">({{Assistencias_Rat}})</span></td>
<td>{{Vitorias}} <span class="hidden-xs hidden-sm hidden-md">({{Vitorias_Rat}})</span></td>
<td class="hidden-xs hidden-sm">{{Traicoes}} <span class="hidden-xs hidden-sm hidden-md">({{Traicoes_Rat}})</span></td>
<td class="hidden-xs hidden-sm hidden-md">{{Assiduidade}}</td>
</tr>