<br><br><header>
<h2>Mágicos de Fora da Classificação</h2>
</header><br>
<div class="ovScroll">
	<table class="default">	
		<tr>
			<th><div id="player-position-off" class="column-header">
				<span class="hidden-xs hidden-sm">{{Posicao}}</span>
				<span class="hidden-md hidden-lg hidden-xl">{{short_Posicao}}</
			</div></th>
			<th><div id="player-name-off" class="column-header">
				<span>{{Magico}}</span>
			</div></th>
			<th><div id="player-battles-off" class="column-header">
				<span class="hidden-xs hidden-sm">{{Batalhas}}</span>
				<span class="hidden-md hidden-lg hidden-xl">{{short_Batalhas}}</span>	
			</div></th>
			<th><div id="player-goals-off" class="column-header">
				<span class="hidden-xs hidden-sm">{{Golos}}</span>
				<span class="hidden-md hidden-lg hidden-xl">{{short_Golos}}</span>	
			</div></th>
			<th><div id="player-assists-off" class="column-header">
				<span class="hidden-xs hidden-sm">{{Assistencias}}</span>
				<span class="hidden-md hidden-lg hidden-xl">{{short_Assistencias}}</span>
			</div></th>
			<th><div id="player-victories-off" class="column-header">
				<span class="hidden-xs hidden-sm">{{Vitorias}}</span>
				<span class="hidden-md hidden-lg hidden-xl">{{short_Vitorias}}</span>
			</div></th>
			<th class="hidden-xs hidden-sm"><div id="player-betray-off" class="column-header">
				<span class="hidden-xs hidden-sm">{{Traicoes}}</span>
				<span class="hidden-md hidden-lg hidden-xl">{{short_Traicoes}}</span>	
			</div></th>
			<th class="hidden-xs hidden-sm hidden-md"><div id="player-assiduity-off" class="column-header">
				<span class="hidden-xs hidden-sm">{{Assiduidade}}</span>
				<span class="hidden-md hidden-lg hidden-xl">{{short_Assiduidade}}</span>	
			</div></th>
		</tr>
		{{rows_here}}
	</table>
</div>