<tr>
<th><div id="player-position" class="column-header">
	<span class="hidden-xs hidden-sm">{{Posicao}}</span>
	<span class="hidden-md hidden-lg hidden-xl">{{short_Posicao}}</span>
</div></th>
<th></th>
<th><a href="#statsTitle" onclick="$nowateam.orderByColumn('player-name');">
	<div id="player-name" class="column-header">
		<span>{{Magico}}</span>
		<span id="player-name-order"></span>
	</div>
</a></th>
<th class="hidden-xs hidden-sm"><div id="player-before" class="column-header">
	<span class="hidden-xs hidden-sm">{{Posicao_Ant}}</span>
	<span class="hidden-md hidden-lg hidden-xl">{{short_Posicao_Ant}}</span>	
</div></th>
<th><a href="#statsTitle" onclick="$nowateam.orderByColumn('player-battles');"><div id="player-battles" class="column-header">
	<span class="hidden-xs hidden-sm">{{Batalhas}}</span>
	<span class="hidden-md hidden-lg hidden-xl">{{short_Batalhas}}</span>	
	<span id="player-battles-order"></span>
</div></a></th>
<th><a href="#statsTitle" onclick="$nowateam.orderByColumn('player-goals');"><div id="player-goals" class="column-header">
	<span class="hidden-xs hidden-sm">{{Golos}}</span>
	<span class="hidden-md hidden-lg hidden-xl">{{short_Golos}}</span>	
	<span id="player-goals-order"></span>
</div></a></th>
<th><a href="#statsTitle" onclick="$nowateam.orderByColumn('player-assists');"><div id="player-assists" class="column-header">
	<span class="hidden-xs hidden-sm">{{Assistencias}}</span>
	<span class="hidden-md hidden-lg hidden-xl">{{short_Assistencias}}</span>
	<span id="player-assists-order"></span>
</div></a></th>
<th><a href="#statsTitle" onclick="$nowateam.orderByColumn('player-victories');"><div id="player-victories" class="column-header">
	<span class="hidden-xs hidden-sm">{{Vitorias}}</span>
	<span class="hidden-md hidden-lg hidden-xl">{{short_Vitorias}}</span>
	<span id="player-victories-order"></span>
</div></a></th>
<th class="hidden-xs hidden-sm"><a href="#statsTitle" onclick="$nowateam.orderByColumn('player-betray');"><div id="player-betray" class="column-header">
	<span class="hidden-xs hidden-sm">{{Traicoes}}</span>
	<span class="hidden-md hidden-lg hidden-xl">{{short_Traicoes}}</span>	
	<span id="player-betray-order"></span>
</div></a></th>
<th class="hidden-xs hidden-sm hidden-md"><a href="#statsTitle" onclick="$nowateam.orderByColumn('player-assiduity');"><div id="player-assiduity" class="column-header">
	<span class="hidden-xs hidden-sm">{{Assiduidade}}</span>
	<span class="hidden-md hidden-lg hidden-xl">{{short_Assiduidade}}</span>	
	<span id="player-assiduity-order"></span>
</div></a></th>
</tr>